/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\assets\custom-styles\general-custom-styles.php qode_startit_design_styles function */
.qodef-preload-background { background-image: url(http://localhost/project-est/wordpress/wp-content/themes/estsb/assets/img/preload_pattern.png) !important;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\assets\custom-styles\general-custom-styles.php qode_startit_design_styles function */
.qodef-boxed .qodef-wrapper { background-attachment: fixed;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_text_styles_1 function */
.cf7_custom_style_1 ::-webkit-input-placeholder { color: #bdbdbd;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_text_styles_1 function */
.cf7_custom_style_1 :-moz-placeholder { color: #bdbdbd;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_text_styles_1 function */
.cf7_custom_style_1 ::-moz-placeholder { color: #bdbdbd;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_text_styles_1 function */
.cf7_custom_style_1 :-ms-input-placeholder { color: #bdbdbd;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_text_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz { color: #bdbdbd;background-color: rgba(255, 255, 255, 0.01);border-color: rgba(189, 189, 189, 1);border-width: 2px;padding-top: 15px;padding-bottom: 15px;margin-top: 0px;margin-bottom: 32px;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input:focus::-webkit-input-placeholder, .cf7_custom_style_1 textarea:focus::-webkit-input-placeholder { color: #ffffff;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input:focus:-moz-placeholder, .cf7_custom_style_1 textarea:focus:-moz-placeholder { color: #ffffff;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input:focus::-moz-placeholder, .cf7_custom_style_1 textarea:focus::-moz-placeholder { color: #ffffff;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input:focus:-ms-input-placeholder, .cf7_custom_style_1 textarea:focus:-ms-input-placeholder { color: #ffffff;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea:focus, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz:focus { color: #ffffff;background-color: rgba(255, 255, 255, 0.01);border-color: rgba(255, 255, 255, 1);}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_button_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit { padding-left: 50px;padding-right: 50px;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_text_styles_2 function */
.cf7_custom_style_2 ::-webkit-input-placeholder { color: #ffffff;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_text_styles_2 function */
.cf7_custom_style_2 :-moz-placeholder { color: #ffffff;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_text_styles_2 function */
.cf7_custom_style_2 ::-moz-placeholder { color: #ffffff;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_text_styles_2 function */
.cf7_custom_style_2 :-ms-input-placeholder { color: #ffffff;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_text_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz { color: #ffffff;background-color: rgba(255, 255, 255, 0.01);border-color: rgba(207, 207, 207, 1);margin-bottom: 15px;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_focus_styles_2 function */
.cf7_custom_style_2 input:focus::-webkit-input-placeholder, .cf7_custom_style_2 textarea:focus::-webkit-input-placeholder { color: #ffffff;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_focus_styles_2 function */
.cf7_custom_style_2 input:focus:-moz-placeholder, .cf7_custom_style_2 textarea:focus:-moz-placeholder { color: #ffffff;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_focus_styles_2 function */
.cf7_custom_style_2 input:focus::-moz-placeholder, .cf7_custom_style_2 textarea:focus::-moz-placeholder { color: #ffffff;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_focus_styles_2 function */
.cf7_custom_style_2 input:focus:-ms-input-placeholder, .cf7_custom_style_2 textarea:focus:-ms-input-placeholder { color: #ffffff;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_focus_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea:focus, .cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz:focus { color: #ffffff;background-color: rgba(255, 255, 255, 0.01);border-color: rgba(255, 255, 255, 1);}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_label_styles_2 function */
.cf7_custom_style_2 p { color: #ffffff;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\contactform7\custom-styles\contact-form.php qode_startit_contact_form7_button_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-submit { margin-top: 7px;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\fullscreenmenu\custom-styles\fullscreen-menu.php qode_startit_fullscreen_menu_general_styles function */
nav.qodef-fullscreen-menu ul li, .qodef-fullscreen-above-menu-widget-holder, .qodef-fullscreen-below-menu-widget-holder { text-align: center;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\fullscreenmenu\custom-styles\fullscreen-menu.php qode_startit_fullscreen_menu_first_level_style function */
nav.qodef-fullscreen-menu > ul > li > a, nav.qodef-fullscreen-menu > ul > li > h6 { font-size: 46px;line-height: 67px;font-weight: 700;letter-spacing: 0px;text-transform: none;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\fullscreenmenu\custom-styles\fullscreen-menu.php qode_startit_fullscreen_menu_icon_styles function */
.qodef-fullscreen-menu-opener .qodef-line { background-color: #4c4b4b;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\header\custom-styles\header.inc qode_startit_header_top_bar_styles function */
.qodef-top-bar .qodef-grid .qodef-vertical-align-containers { background-color: rgba(0, 0, 0, 1);}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\header\custom-styles\header.inc qode_startit_header_top_bar_styles function */
.qodef-top-bar { background-color: rgba(0, 0, 0, 1);}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\header\custom-styles\header.inc qode_startit_vertical_menu_styles function */
.qodef-header-vertical .qodef-vertical-area-background { background-color: #fafafa;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\header\custom-styles\header.inc qode_startit_fixed_header_styles function */
.qodef-page-header .qodef-fixed-wrapper.fixed .qodef-grid .qodef-vertical-align-containers,
                                    .qodef-header-type3 .qodef-fixed-wrapper.fixed .qodef-grid .qodef-vertical-align-containers { background-color: rgba(255, 255, 255, 01);}


        
        
        
        
        
        
        
        
        

        
        
        
        
        
        
        
        
        
        
        
        
        
        

        
        
        
        
        
        
                
        

        

        
        
        
        
        
        
        
        
        
        
        
                
        
                
        /* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\header\custom-styles\header.inc qode_startit_vertical_main_menu_styles function */
.qodef-header-vertical .qodef-vertical-dropdown-float .menu-item .second, .qodef-header-vertical .qodef-vertical-dropdown-float .menu-item.narrow .second .inner ul, .qodef-header-vertical .qodef-vertical-dropdown-float .second .inner ul ul { background-color: #ffffff;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\header\custom-styles\header.inc qode_startit_vertical_main_menu_styles function */
.qodef-header-vertical .qodef-vertical-dropdown-float .menu-item.narrow .second .inner ul, .qodef-header-vertical .qodef-vertical-dropdown-float .second .inner ul ul, .qodef-header-vertical .qodef-vertical-dropdown-float .second .inner ul { padding-top: 20px;padding-bottom: 20px;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\header\custom-styles\header.inc qode_startit_vertical_main_menu_styles function */
.qodef-header-vertical .qodef-vertical-menu ul > li.menu-item-has-children a .plus { display: none;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\header\custom-styles\header.inc qode_startit_vertical_main_menu_styles function */
.qodef-header-vertical .qodef-vertical-menu > ul > li > a { color: #727272;font-family: Raleway;font-size: 16px;line-height: 27px;text-transform: capitalize;font-style: normal;font-weight: 700;letter-spacing: 0px;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\header\custom-styles\header.inc qode_startit_vertical_main_menu_styles function */
.qodef-header-vertical .qodef-vertical-menu > ul > li > a:hover, .qodef-header-vertical .qodef-vertical-menu > ul > li > a.qodef-active-item { color: #b2dd4c;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\header\custom-styles\header.inc qode_startit_vertical_main_menu_styles function */
.qodef-header-vertical .qodef-vertical-menu .second .inner > ul > li > a { color: #969696;font-family: Raleway;font-size: 13px;line-height: 13px;text-transform: capitalize;font-style: normal;font-weight: 400;letter-spacing: 0px;padding-top: 13px;padding-bottom: 13px;padding-left: 40px;padding-right: 40px;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\header\custom-styles\header.inc qode_startit_vertical_main_menu_styles function */
.qodef-header-vertical .qodef-vertical-menu .second .inner > ul > li > a:hover, .qodef-header-vertical .qodef-vertical-menu .second .inner > ul > li > a.qodef-active-item { color: #b2dd4c;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\header\custom-styles\header.inc qode_startit_vertical_main_menu_styles function */
.qodef-header-vertical .qodef-vertical-menu .second .inner ul li ul li a { color: #969696;font-size: 13px;line-height: 13px;font-style: normal;font-weight: 400;letter-spacing: 0px;padding-top: 13px;padding-bottom: 13px;padding-left: 25px;padding-right: 25px;}

/* generated in C:\wamp\www\project-est\wordpress\wp-content\themes\estsb\framework\modules\header\custom-styles\header.inc qode_startit_vertical_main_menu_styles function */
.qodef-header-vertical .qodef-vertical-menu .second .inner ul li ul li a:hover, .qodef-header-vertical .qodef-vertical-menu .second .inner ul li ul li a.qodef-active-item { color: #b2dd4c;}

